---
import { cn } from '@/lib/utils';
import Layout from '../../layouts/Layout.astro'

const categories = [ 'All', 'Coverage', 'Claim', 'Terms', 'Payment', 'Others' ]
const iframes = [
  {url: 'https://www.videoask.com/f4mtqiyc7',height: '200px', imageUrl: "felix.png", question: "How do I make a claim?" },
  {url: 'https://www.videoask.com/f4mtqiyc7',height: '200px', imageUrl: "tina.png", question: "Why is my premium so high?" },
  {url: 'https://www.videoask.com/f4mtqiyc7', height: '300px', imageUrl: "anand.jpg", question: "What is the difference between the plans?" },
  {url: 'https://www.videoask.com/f4mtqiyc7',height: '300px', imageUrl: "aravind.gif" , question: "Why should I buy travel insurance?" },
]
---

<Layout active='learn'>
  <section class="px-5">
    <ul class="flex gap-2 overflow-x-hidden">
      {categories.map((category, index) => (
          <li class="gap-2">
            <a href="#" class={cn("text-xl underline-offset-4 decoration-4", index === 0 ? "underline" : "")}>{category}</a>
          </li>
        ))}
    </ul>

    <div class="flex gap-3">
      <div class="flex-col">
        {iframes.map((iframe, idx) => (
              idx % 2 === 0 && (
              <a href={iframe.url} class="relative rounded-md">
                  <img src={iframe.imageUrl} class="mb-4" width="100%" height={iframe.height} class="absolute -z-10 inset-0 bg-cover"></img>
                  <p class="absolute z-10 text-white text-lg font-semibold bottom-0 px-2">{iframe.question}</p>
                </a>
              )
        ))}
      </div> 
      <div class="flex-col">
        {iframes.map((iframe, idx) => (
          idx % 2 !== 0 && (
                <a href={iframe.url} class="relative rounded-md overflow-hidden">
                  <img src={iframe.imageUrl} class="mb-4" width="100%" height={iframe.height} class="absolute -z-10 inset-0 bg-cover"></img>
                  <p class="absolute z-10 text-white text-lg font-semibold bottom-0 px-2">{iframe.question}</p>
                </a>
              )
        ))}
      </div> 
    </div>
  </section>
</Layout>
